* {
    margin: 0;
    padding: 0;
     -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    font-family: "Georgia";
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.nav ul {
    display: inline-flex;
    margin: 50px;
}

.nav ul li {
     opacity: 0.6;
  transition: 0.3s;
    list-style: none;
    margin: 0 20px;
    color: white;
    cursor: pointer;
}

.nav ul li:hover {opacity: 1}

.home-btn {
    left: 10px;
    display: inline;
    position: fixed;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, white, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.home-btn span {
    display: block;
    padding: 8px 18px;
}

.center {
    text-align: center;
}

.create-btn {
     display: inline;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(#e8dfdf, #efebeb), radial-gradient(circle at top left, white, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
    opacity: 0.9;
    bottom: 20px;
}

.create-btn span {
    display: block;
    padding: 12px 30px;
}

.create-btn:hover {
    opacity: 1;
}

.signup-btn {
    left: 10px;
    display: inline;
    position: fixed;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, white, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 18px;
}

.top-links {
    left: 100px;
    display: inline;
    position: fixed;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, white, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.top-links span {
    display: block;
    padding: 8px 22px;
}

.cart-btn {
    right: 20px;
    display: inline;
    position: fixed;
    border: 2px solid transparent;
    box-shadow: 0px 0px 8px #ffffff;
    border-radius: 5px;
}

.drop-btn {
    right: 70px;
    display: inline;
    position: fixed;
    color: white;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, white, white);
    background-origin: border-box;
    background-clip: content-box,border-box;

}

.drop-btn span {
    display: block;
    padding: 8px 18px;
}

li a:hover, .dropdown:hover .drop-btn {
    background-color: #3662e2;
}

li.dropdown {
    display: inline-block;
    right: 200px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    right: 195px;
}

#outPopUp {
    text-align: center;
    background-image: url("wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.boxed {
    border: 2px solid transparent;
    border-radius: 20px;
    font-family: "Verdana";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 1px solid grey;
    padding: 15px;
    margin: 16px;
    width: 23%;
    height: auto;
    display: inline-block;
    background: white;
    line-height: 20px;
}

.boxed:hover {
    opacity: 1;
}

.img {
    float:left;
}
.clear-fix {
    overflow: auto;
}

.welcmsg {
    font-size: larger;
    padding-top: 50px;
    display: inline;
}

.fullscreen-first {
    background-image: url(WELCOME.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom-links {
    color: #000000;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #0c0c0c, #000000);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.bottom-links span {
    display: block;
    padding: 8px 30px;
}

.center-up {
    font-family: Verdana;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    bottom: 40px;
}

.button {
     border-radius: 2px;
     text-decoration: none;
     background-color: #215223;
     color: white;
     padding: 6px 10px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 50%;
     opacity: 0.8;
}

.button:hover {
     opacity: 1;
}

.chat-btn {
     left: 200px;
     display: inline;
     position: fixed;
     text-decoration: none;
     color: white;
     border: 2px solid transparent;
     border-radius: 20px;
     background-image: linear-gradient(#000000, #000000), radial-gradient(circle at top left, white, white);
     background-origin: border-box;
     background-clip: content-box,border-box;
}

.chat-btn span {
    display: block;
    padding: 8px 22px;
}

.chat-box {
    color: white;
}
