{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regrettable Purchases</title>
    <link rel="stylesheet" type="text/css" href="{% static 'product/style.css' %}"/>
</head>

<body>
<div class="nav">
    <ul>
        {% if user.username %}
            <div class="welcmsg">
                <li><h4>Welcome, {{ user.username }} to</h4></li>
            </div>
            <li><a href="{% url 'index' %}" class="home-btn"><span>Home</span></a></li>
            <li><a href="{% url 'logout' %}" class="top-links"><span>Logout</span></a></li>
        {% else %}
            <li><a href="{% url 'signup' %}" class="signup-btn"><span>Signup</span></a></li>
            <li><a href="{% url 'login' %}" class="top-links"><span>Login</span></a></li>
        {% endif %}

        <li><a href="{% url 'chat_index' %}" class="chat-btn"><span>Chat</span></a></li>

        <li><a href="{% url 'cart' %}" class="cart-btn"><span><img src="{% static 'product/cart.jpg' %}" height="35"
                                                                   width="35"></span></a></li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="drop-btn"><span>My Account</span></a>
            <div class="dropdown-content">
                <a href="{% url 'my_products' %}">Manage Products</a>
                <a href="{% url 'order_history' %}">Order History</a>
            </div>
        </li>
    </ul>

</div>

<br/>
{% block content %}
{% endblock %}
</body>
{% block js %}
{% endblock %}
</html>